.parallax {
    height: 500px;
    background-image: url("/images/carousel-2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    z-index: 1;
    overflow: hidden;
  }
  
  /* overlay */
  .parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
  }
  