
/* =====================
   General
===================== */
.pos-r {
  position: relative;
}

/* =====================
   Work Process
===================== */
.work-process {
  position: relative;
}
.step-num {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 12px 20px 0 rgba(117, 178, 240, 0.4);
  /* color: #005bea; */
  /* color: var(--primary-color); */
  color: rgba(0, 0, 0, 0.541);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  right: 0;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}
.theme-bg .work-process h4,
.theme-bg .work-process p {
  color: #ffffff;
}
.step-icon {
  background: #ffffff;
  width: 140px;
  height: 140px;
  position: relative;
  border: 3px solid #fafaff;
  border-radius: 50%;
  line-height: 140px;
  font-size: 40px;
  text-align: center;
  color: #1c1d3e;
}
.step-icon span {
  position: relative;
}
.step-icon span::after,
.step-icon span::before {
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: -1;
}
.step-icon span::after {
  background: #cdf3f6;
  height: 25px;
  left: -10px;
  top: 5px;
  width: 25px;
}
.step-icon span::before {
  background: #d4f8e6;
  bottom: 0;
  right: -10px;
}

.step-icon span i {
  /* line-height: 140px; */
  color : var(--primary-color);
}

.step-desc {
  padding: 0 20px;
}

.step-num-box {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.work-process .box-loader {
  position: absolute;
  top: 30%;
  right: -15%;
  left: inherit;
}
.work-process.style-2 {
  padding: 0;
  display: flex;
  align-items: center;
}
.work-process.style-2:before {
  display: none;
}
.work-process.style-2 .step-num-box {
  margin-bottom: 0;
  margin-right: 30px;
}
.work-process.style-3 {
  padding: 70px 30px 0;
}
.work-process.style-3 .step-num {
  background: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.1);
  /* color: var(--primary-color); */
  font-size: 120px;
  height: auto;
  left: 50%;
  line-height: 120px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: auto;
}

.svg-container {
  position: absolute;
  width: 75%;
  left: 52%;
  z-index: -1;
  transform: translateX(-50%);
}

/* =====================
   Box Loader
===================== */
.box-loader {
  border-radius: 100%;
  margin: 0 auto;
  position: absolute;
  top: 15px;
  left: 15px;
}
.box-loader span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  /* background: #2575fc; */
    background: var(--primary-color);
  margin: 0 5px;
  opacity: 0;
}
.box-loader span:nth-child(1) {
  animation: opacitychange 1s ease-in-out infinite;
}
.box-loader span:nth-child(2) {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}
.box-loader span:nth-child(3) {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

/* =====================
   Animations
===================== */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bar-top {
  0% {
    transform: scale(0, 1);
  }
  12.5% {
    transform: scale(1, 1);
  }
  87.5% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}
@keyframes bar-right {
  0% {
    transform: scale(1, 0);
  }
  12.5% {
    transform: scale(1, 0);
  }
  25% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1, 1);
  }
  87.5% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 0);
  }
}
@keyframes bar-bottom {
  0% {
    transform: scale(0, 1);
  }
  25% {
    transform: scale(0, 1);
  }
  37.5% {
    transform: scale(1, 1);
  }
  62.5% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}
@keyframes bar-left {
  0% {
    transform: scale(1, 0);
  }
  37.5% {
    transform: scale(1, 0);
  }
  50% {
    transform: scale(1, 1);
  }
  62.5% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 0);
  }
}
@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

/* =====================
   Responsive
===================== */
@media (max-width: 1200px) {
  .svg-container {
    width: 85%;
  }
}
@media (max-width: 992px) {
  .md-mt-5 {
    margin-top: 50px !important;
  }
  .work-process .box-loader {
    display: none;
  }
  .step-desc p {
    max-width: 280px;
    margin: 0 auto;
  }
  .svg-container {
    width: 100%;
    transform: rotate(90deg);
    left: 0;
    top: 50%;
  }
}
@media (max-width: 768px) {
  .step-icon {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 30px;
  }
  .step-icon span::after,
  .step-icon span::before {
    height: 30px;
    width: 30px;
  }
  .step-icon span::after {
    left: -5px;
    top: 5px;
    height: 20px;
    width: 20px;
  }
  .step-icon span::before {
    height: 20px;
    width: 20px;
    right: -5px;
  }
}